apiVersion: v1
kind: Secret
metadata:
  name: flag-secret
  namespace: togglemaster
type: Opaque
stringData:
  DATABASE_URL: "postgres://<USER_RDS_FLAG>:<SENHA_RDS_FLAG>@<ENDPOINT_RDS_FLAG>:5432/flag_db"
