apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
  namespace: togglemaster
type: Opaque
data:
  POSTGRES_PASSWORD: <base64 da senha do auth-db>
  MASTER_KEY: <base64 da master key do auth-service>
  DATABASE_URL: <base64 de postgres://auth_user:<senha>@auth-db:5432/auth_db>
