apiVersion: v1
kind: Secret
metadata:
  name: analytics-secret
  namespace: togglemaster
type: Opaque
data:
  AWS_ACCESS_KEY_ID: <base64 da access key (ou remover se usar IRSA)>
  AWS_SECRET_ACCESS_KEY: <base64 da secret key (ou remover se usar IRSA)>
